.nav {
    padding: 30px;
    grid-area: n;
    background: #86a9d0;
}

.item a{
    color: #fff;
    text-decoration: none;
}

.item a.activeLink {
    color: blueviolet;
}

.myFriends {
    text-align: center;
    padding: 10px 0;
}

.friendsTitle {
    color: bisque;
    font-weight: bold;
    margin: 0 0 5px;
}